@model BrewingSite.Models.RecipeEquipmentProfile

<span class="h2">Equipment </span><button type="button" class="btn-link" id="editEquipment" data-recipeid="@Model.id"> Edit</button>
<p></p>
<table class="table">
    <tr>
        <td><span style="font-weight: bold">Kettle Volume</span><br />@Model.kettleVolume Gallons</td>
        <td><span style="font-weight: bold">Kettle Loss</span><br />@Model.kettleVolumeLoss Gallons</td>
        <td><span style="font-weight: bold">Kettle Boil-Off</span><br />@Model.kettleBoiloff Gallons/hour</td>
        
    </tr>
    
    <tr>
        <td><span style="font-weight: bold">Mash Tun Volume</span> <br /> @Model.mashtunVolume Gallons</td>
        <td><span style="font-weight: bold">Mash Tun Loss</span> <br /> @Model.mashtunVolumeLoss Gallons</td>
        <td><span style="font-weight: bold">Mash Efficiency</span> <br /> <span id="mashEff">@Model.mashEfficiency</span>%</td>
    </tr>
</table>