@model IEnumerable<BrewingSite.Models.ViewFermentable>
<form action="/Recipes/FermentablePane" method="post">
    <table class="table table-hover pagebreak-inside-avoid">
        <tr>
            <th></th>
            <th>
                Amount
            </th>
            <th>
                Name
            </th>
            <th>
                PPG
            </th>
            <th>
                °L
            </th>
            <th colspan="2">Contributes Sugar</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>

                <td>
                    @Html.DisplayFor(modelItem => item.amount) @Html.DisplayFor(modelItem => item.unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ppg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lovibond)
                </td>
                <td class="gravityPoints" style="display: none;">@(item.amount * item.ppg * Convert.ToInt32(item.isMashed))</td> @*Mulitplying by isMashed to zero the value if the ingredient is not mashed.*@
                <td class="lovibondPoints" style="display: none;">@(item.amount * item.lovibond)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.isMashed.Value)
                </td>
                <td>
                    <button type="button" class="btn-link removeFermentable" data-fermentableId="@item.id">Delete</button>
                </td>
            </tr>
        }

        <tr class="entry-row">
            <td><img src="~/Images/x.jpeg" width="16" height="16" id="clearFermButton" style="display: none; cursor: pointer" onclick="ClearNewFermentable()" /></td>
            <!--Add fermentable functionality-->
            <td>
                <!--Amount box here-->
                <input id="fermentableAmountBox" type="text" name="amount" class="numbersOnly" required="required" placeholder=" (lbs)" />
            </td>
            <td>
                <!--Grain type selector-->
                <button type="button" class="btn-link" id="fermentableNameField">Click to Add Fermentable</button>
                <input id="fermentableIdBox" type="text" name="ingredientId" hidden="hidden" required="required" />
            </td>
            <td id="fermentablePpgField">
                <!--Autofill ppg-->
            </td>
            <td id="fermentableLovibondField">
                <!--Autofill lovibond-->
            </td>
            <td>
                @Html.CheckBox("isMashed", true)
            </td>
            <td>
                <!--Link for posting data to the model and then reloading the partial view-->
                <button class="btn-link" onclick="return PostFormAsync(this)">Add</button>
            </td>

        </tr>


    </table>
</form>