@model IEnumerable<BrewingSite.Models.ViewHop>
<form action="/Recipes/HopPane" method="post">
    <table class="table table-condensed">
        <tr>
            <td></td>
            <th>
                Amount
            </th>
            <th>
                Variety
            </th>
            <th>
                AA
            </th>
            <th>
                Time
            </th>
            <th>
                Leaf
            </th>
            <th>
                IBUs
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="hopEntry">
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount) @Html.DisplayFor(modelItem => item.unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.alphaAcid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.additionTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isLeaf.Value)
                </td>
                <td>
                    
                </td>
                <td>
                    <button type="button" class="btn-link removeHop" data-hopId="@item.id">Delete</button>
                </td>
            </tr>
        }
        <tr>
            <td><img src="~/Images/x.jpeg" width="16" height="16" id="clearHopButton" style="display: none; cursor: pointer" onclick="ClearNewHop()" /></td>
            <!--Add Hop functionality-->
            <td>
                <!--Amount box here-->
                <input type="text" id="hopAmountBox" name="amount"  class="numbersOnly" required="required" placeholder=" (oz)" />
            </td>
            <td>
                <!--Hop type selector-->
                <button type="button" class="btn-link" id="hopNameField">Click to Add Hop</button>
                <input type="text" id="hopIdBox" name="ingredientId" hidden="hidden" required="required" />
            </td>
            <td id="hopAaField">
                <!--Autofill AA-->
            </td>
            <td>
                <input type="text" name="additionTime" class="numbersOnly" required="required" placeholder=" (min)" />
            </td>
            <td colspan="2">
                @Html.CheckBox("isLeaf") Whole Leaf
            </td>
            <td>
                <!--Link for posting data to the model and then reloading the partial view-->
                <button class="btn-link"  onclick="return PostFormAsync(this)">Add</button>
            </td>

        </tr>


    </table>
</form>