@model IEnumerable<BrewingSite.Models.OtherIngredient>

<form action="/Recipes/OthersPane" method="post">
    <table class="table">
        <tr>
            <th>Amount</th>
            <th>Item</th>
            <th>Use</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.amount)</td>
                <td>@Html.DisplayFor(modelItem => item.item)</td>
                <td>@Html.DisplayFor(modelItem => item.use)</td>
                <td><a href="#" id="@item.id" onclick="RemoveIngredientAsyncNonCritical(this.id)">Delete</a></td>
            </tr>
        }
        <tr>
            <td>@Html.TextBox("otherAmount", null, new { style = "width: 80px" })</td>
            <td>@Html.TextBox("otherItem")</td>
            <td>@Html.TextBox("otherUse")</td>
            <td><a href="#" onclick="return PostFormAsyncNonCritical(this)">Add</a></td>
        </tr>
    </table>
</form>