@model IEnumerable<BrewingSite.Models.OtherIngredient>

<form action="/Recipes/OthersPane" method="post">
    <table class="table table-hover pagebreak-inside-avoid">
        <tr>
            <th>Amount</th>
            <th>Item</th>
            <th>Use</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.amount)</td>
                <td>@Html.DisplayFor(modelItem => item.item)</td>
                <td>@Html.DisplayFor(modelItem => item.use)</td>
                <td><a href="#" class="removeOther" data-otherId="@item.id">Delete</a></td>
            </tr>
        }
        <tr class="entry-row">
            <td>@Html.TextBox("amount", null, new { placeholder = " Amount", style = "width: 80px", required = "required" })</td>
            <td>@Html.TextBox("item", null, new { placeholder = " Item name", required = "required" })</td>
            <td>@Html.TextBox("use", null, new { placeholder = " Item use", required = "required" })</td>
            <td><button class="btn-link" onclick="return PostFormAsyncNonCritical(this)">Add</button></td>
        </tr>
    </table>
</form>