@model IEnumerable<BrewingSite.Models.Yeast>
<form action="/Recipes/YeastPane" method="post">
    <table class="table table-hover pagebreak-inside-avoid">
        <tr>
            <th>
                Name
            </th>
            <th>
                Attenuation
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
        @{bool i = false;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="@(i?"yeastItem":"yeastAttenuationItem")">@*This is so that I can quickly find the requisite field when performing calculations with JS.*@
                    @Html.DisplayFor(modelItem => item.Attenuation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <button type="button" class="removeYeast btn-link" data-yeastId="@item.id">Delete</button>
                </td>
            </tr>
            i = true;
        }

        <tr class="entry-row">
            <td>
                <!--Grain type selector-->
                <button class="btn-link" type="button" id="yeastNameField">Click to Add Yeast</button>
                <input id="yeastIdBox" type="text" name="ingredientId" hidden="hidden" required="required"/>
            </td>
            <td id="yeastAttenuationField">
                <!--Autofill lovibond-->
            </td>
            <td id="yeastTypeField">
                <!--Autofill ppg-->
            </td>
            <td>
                <!--Link for posting data to the model and then reloading the partial view-->
                <button class="btn-link" onclick="return PostFormAsync(this)">Add</button>
            </td>

        </tr>


    </table>
</form>