@model BrewingSite.Models.BrewdayMeasurement

@using (Html.BeginForm("logFermenterGravity", "Brewday"))
{
    @Html.AntiForgeryToken()
    
    <table class="table">
        <tr>
            <td>Fermenter OG</td>
            <td>
                @Html.EditorFor(model => model.fermenterGravityReal, new { htmlAttributes = new { @class = "form-control", @style = "width: 240px" } })
                @Html.ValidationMessageFor(model => model.fermenterGravityReal, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>Fermenter Volume (gal)</td>
            <td>
                @Html.EditorFor(model => model.fermenterGravityVolume, new { htmlAttributes = new { @class = "form-control", @style = "width: 240px" } })
                @Html.ValidationMessageFor(model => model.fermenterGravityVolume, "", new { @class = "text-danger" })
            </td>
        </tr>

    </table>

}
