@model BrewingSite.Models.BrewdayViewmodel

@{
    ViewBag.Title = "Brewday for " + @Model.brewday.recipeName;
}

<script type="text/javascript">

    function PostFormAsync(btnClicked, event) {
        var $form = $(btnClicked).parents('form');

        $.ajax({type: "POST", url: $form.attr('action') + "/" + @Model.brewday.id, data: $form.serialize()});
        return false;
    }

    $(document).ready(function (){
        $('#measurementsPanel').on('click', '#logFermenterGravity', function (event) {
            event.preventDefault();

            $("#logFermenterGravityDialog").dialog({
                autoOpen: true,
                width: 550,
                height: 250,
                resizable: false,
                title: 'Log Fermenter OG',
                modal: true,
                open: function () {
                    $(this).load('/Brewday/ShowLogFermenterGravityDialog/' + @Model.measurement.id);
                },
                buttons: {
                    Cancel: function () {
                        $(this).dialog("close");
                    },
                    Save: function () {
                        PostFormAsync($(this).children('form').children('.table'));
                        $(this).dialog("close");
                    }
                }
            });
            return false;
        });


    });

    $(document).ready(function (){
        $('#measurementsPanel').on('click', '#logFinalGravity', function (event) {
            event.preventDefault();

            $("#logFinalGravityDialog").dialog({
                autoOpen: true,
                width: 550,
                height: 250,
                resizable: false,
                title: 'Log Fermenter FG',
                modal: true,
                open: function () {
                    $(this).load('/Brewday/ShowLogFinalGravityDialog/' + @Model.measurement.id);
                },
                buttons: {
                    Cancel: function () {
                        $(this).dialog("close");
                    },
                    Save: function () {
                        PostFormAsync($(this).children('form').children('.table'));
                        $(this).dialog("close");
                    }
                }
            });
            return false;
        });


    });

    $(document).ready(function (){
        $('#measurementsPanel').on('click', '#logPreboilGravity', function (event) {
            event.preventDefault();

            $("#logPreboilGravityDialog").dialog({
                autoOpen: true,
                width: 550,
                height: 250,
                resizable: false,
                title: 'Log Preboil Gravity',
                modal: true,
                open: function () {
                    $(this).load('/Brewday/ShowLogPreboilGravityDialog/' + @Model.measurement.id);
                },
                buttons: {
                    Cancel: function () {
                        $(this).dialog("close");
                    },
                    Save: function () {
                        PostFormAsync($(this).children('form').children('.table'));
                        $(this).dialog("close");
                    }
                }
            });
            return false;
        });


    });




</script>

<span class="h2">Brewing @Model.brewday.recipeName on @Model.brewday.timestamp.Value.ToShortDateString()</span><br />
<div class="row">
    <div class="col-md-6">
        <span><strong>Generated from:</strong> <a href="/Recipes/Recipe/@Model.brewday.originalRecipeId" style="text-decoration: none;">@Model.brewday.recipeName</a></span><br />
        <span><strong>Brewer:</strong> @User.Identity.Name.Substring(0, User.Identity.Name.IndexOf('@'))</span>

    </div>
    <div class="col-md-6 text-right right-align-small">
        <span><strong>Recipe Style:</strong> @Model.recipeStyle.Style1</span><br />
        <span><strong>Brewed On:</strong> @Model.brewday.timestamp.Value.ToShortDateString()</span>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <p class="h7">Fermentables</p>
        <table class="table table-hover table-condensed">
            <tr>
                <th>Fermentable</th>
                <th class="text-center">Amount</th>
            </tr>
            @foreach (var item in Model.fermentables)
            {
                <tr>
                    <td>@item.name</td>
                    <td class="text-center">@item.amount @item.unit</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6">
        <p class="h7">Hops</p>
        <table class="table table-hover table-condensed">
            <tr>
                <th>Variety</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Time</th>
            </tr>
            @foreach (var item in Model.hops)
            {
                <tr>
                    <td>@item.name</td>
                    <td class="text-center">@item.amount @item.unit</td>
                    <td class="text-center">@item.additionTime min</td>
                </tr>
            }
        </table>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-md-6">
        <p class="h7">Yeast</p>
        <table class="table table-hover table-condensed">
            <tr>
                <th>Strain</th>
                <th class="text-center">Attenuation</th>
            </tr>
            @foreach (var item in Model.yeasts)
            {
                <tr>
                    <td>@item.Name</td>
                    <td class="text-center">@item.Attenuation%</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6">
        <p class="h7">Other Ingredients</p>
        <table class="table table-hover table-condensed">
            <tr>
                <th>Item</th>
                <th>Use</th>
                <th class="text-center">Amount</th>
            </tr>
            @foreach (var item in Model.others)
            {
                <tr>
                    <td>@item.item</td>
                    <td>@item.use</td>
                    <td class="text-center">@item.amount</td>
                </tr>
            }
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <p class="h7">Equipment</p>
        <table class="table table-hover table-condensed">
            <tr>
                <td><span class="bold">Kettle Volume</span><br />@Model.equipment.kettleVolume Gallons</td>
                <td><span class="bold">Kettle Loss</span><br />@Model.equipment.kettleVolumeLoss Gallons</td>
                <td><span class="bold">Kettle Boil-Off</span><br />@Model.equipment.kettleBoiloff Gallons/hour</td>

            </tr>

            <tr>
                <td><span class="bold">Mash Tun Volume</span> <br /> @Model.equipment.mashtunVolume Gallons</td>
                <td><span class="bold">Mash Tun Loss</span> <br /> @Model.equipment.mashtunVolumeLoss Gallons</td>
                <td><span class="bold">Mash Efficiency</span> <br /> <span id="mashEff">@Model.equipment.mashEfficiency</span>%</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <p class="h7">Mash Procedure</p>
        <table class="table table-hover table-condensed">
            <tr>
                <th>Step Temperature</th>
                <th>Heating Method</th>
                <th class="text-center">Rest Time</th>
            </tr>
            @foreach (var item in Model.mashEntries)
            {
                <tr>
                    <td>@item.temperature</td>
                    <td>@item.method</td>
                    <td class="text-center">@item.time min</td>
                </tr>
            }
        </table>
        <p><span class="bold">Sparge Method: </span>@Model.brewday.mashSpargeType</p>
    </div>
    
</div>

<hr />

@*We need to make the measurement able a partial view. This way it can be reloaded dynamically via AJAX. Also, we need to make this not visible on print, and make a new table for print media to allow hand-written notes.*@

<div class="row" style="page-break-before: always;">
    <div class="col-sm-8 col-sm-offset-2" id="measurementsPanel">
        <p class="h7">Measurements</p>
        <table class="table table-hover-col table-condensed">
            <tr>
                <th width="40%">Predictions</th>
                <th>Measurements</th>
                <th>Deviation</th>
            </tr>
            <tr>
                <td><span class="bold">Pre-boil OG: </span>  @@ @(Model.brewday.batchSize + ((Model.equipment.kettleBoiloff / 60) * Model.brewday.boilTime)) Gallons</td>
                <td>
                    <span class="bold">Pre-boil OG: </span>
                    @if (Model.measurement.preboilGravityReal != null)
                    {
                        <span>@string.Format("{0:0.000}", Model.measurement.preboilGravityReal) @@ @(Model.measurement.preboilGravityVolume) Gallons</span> <span style="font-size: smaller"><button class="btn-link" id="logPreboilGravity">Edit</button></span>
                    }
                    else
                    {
                        <button class="btn-link" id="logPreboilGravity">Log value</button>
                    }
                </td>
                <td>@string.Format("{0:0.0}%", Model.measurement.preboilGravityDeviation)</td>
            </tr>
            <tr>
                <td><span class="bold">Fermenter OG: </span>@string.Format("{0:0.000}", Model.measurement.fermenterGravityCalc)  @@ @(Model.brewday.batchSize) Gallons</td>
                <td>
                    <span class="bold">Fermenter OG: </span>
                    @if (Model.measurement.fermenterGravityReal != null)
                    {
                        <span>@string.Format("{0:0.000}", Model.measurement.fermenterGravityReal) @@ @(Model.measurement.fermenterGravityVolume) Gallons</span> <span style="font-size: smaller"><button class="btn-link" id="logFermenterGravity">Edit</button></span>
                    }
                    else
                    {
                        <button class="btn-link" id="logFermenterGravity">Log value</button>
                    }


                </td>
                <td>@string.Format("{0:0.0}%", Model.measurement.fermenterGravityDeviation)</td>
            </tr>
            <tr>
                <td><span class="bold">Fermenter FG: </span> @string.Format("{0:0.000}", Model.measurement.finalGravityCalc) @@ @(Model.brewday.batchSize) Gallons</td>
                <td>
                    <span class="bold">Fermenter FG: </span>
                    @if (Model.measurement.finalGravityReal != null)
                    {
                        <span>@string.Format("{0:0.000}", Model.measurement.finalGravityReal) @@ @(Model.measurement.finalGravityVolume) Gallons</span> <span style="font-size: smaller"><button class="btn-link" id="logFinalGravity">Edit</button></span>
                    }
                    else
                    {
                        <button class="btn-link" id="logFinalGravity">Log value</button>
                    }


                </td>
                <td>@string.Format("{0:0.0}%", Model.measurement.finalGravityDeviation)</td>
            </tr>
            <tr>
                <td><span class="bold">Calculated ABV: </span> @string.Format("{0:0.0}", Model.measurement.abvCalc)%</td>
                <td>
                    <span class="bold">Calculated ABV: </span>
                    @if (Model.measurement.fermenterGravityReal != null && Model.measurement.finalGravityReal != null)
                    {
                        <span>@string.Format("{0:0.0}%", ((Model.measurement.fermenterGravityReal - Model.measurement.finalGravityReal) * 131.25))</span>
                    }





                </td>
                <td>@string.Format("{0:0.0}%", ((((Model.measurement.fermenterGravityReal - Model.measurement.finalGravityReal) * 131.25) - Model.measurement.abvCalc) / Model.measurement.abvCalc) * 100)</td>
            </tr>

        </table>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>Instructions</h2>
        <hr />
        <ol>
            @if(Model.mashEntries.Count > 0)
            {
                int count = 0;
                
                foreach(var mashEntry in Model.mashEntries)
                {
                    if(count == 0)
                    {
                        <li>Mash in your grains with the necessary volume of water to achieve @mashEntry.temperature°F and rest for <strong>@mashEntry.time minutes.</strong></li>
                    }
                    else
                    {
                        <li>Alter the mash temperature to <strong>@mashEntry.temperature°F</strong> by @mashEntry.method and rest for <strong>@mashEntry.time</strong> minutes.</li>
                    }
                    count++;
                }
                
            }
            @if(Model.brewday.mashSpargeType == "No Sparge")
            { 
                <li>Run off the wort into kettle. Do not sparge.</li>
            }
            else
            {
                <li>Run off wort into kettle. Then sparge with the necessary water to acheive boil volume using the <strong>@Model.brewday.mashSpargeType method.</strong></li>
            }
            <li>
                Bring your wort to a boil. Add hops as indicated below:
                <ol>
                    @foreach (var hop in Model.hops)
                    {
                        <li>@hop.additionTime minutes: @hop.name -- @hop.amount oz</li>
                    }
                </ol>
            </li>

            @if (Model.others.Count > 0)
            {
                <li>Add any kettle finings or other boil ingredients as necessary. Refer to "Other ingredients" listing above.</li>
            }
            
            <li>Once boil is complete, chill wort to the desired pitching temp for the <strong>@Model.yeasts.FirstOrDefault().Name</strong> yeast strain.</li>

            <li>Transfer to primary and pitch the desired amount of @Model.yeasts.FirstOrDefault().Name. Proceed with primary fermentation for <strong>@Model.fermentation.primaryDays days at @Model.fermentation.primaryTemp°F.</strong>
                @if(Model.fermentation.primaryNote != null && Model.fermentation.primaryNote.Length > 0)
                {
                    <ul>
                        <li>@Model.fermentation.primaryNote</li>
                    </ul>
                }
            </li>

            @if(Model.fermentation.secondaryDays > 0)
            {
                <li>Transfer to secondary fermenter for <strong>@Model.fermentation.secondaryDays days at @Model.fermentation.secondaryTemp°F.</strong>
                    @if (Model.fermentation.secondaryNote != null && Model.fermentation.secondaryNote.Length > 0)
                    {
                        <ul>
                            <li>@Model.fermentation.secondaryNote</li>
                        </ul>
                    }
                </li>
            }
            
            @if (Model.fermentation.kegDays > 0)
            {
                <li>
                    Transfer to appropriate keg for <strong>@Model.fermentation.kegDays days at @Model.fermentation.kegTemp°F.</strong>
                    @if (Model.fermentation.kegNote != null && Model.fermentation.kegNote.Length > 0)
                    {
                        <ul>
                            <li>@Model.fermentation.kegNote</li>
                        </ul>
                    }
                </li>
            }
            
            @if (Model.fermentation.bottleDays > 0)
            {
                <li>
                    Add priming sugar and bottle. Allow to carbonate for <strong>@Model.fermentation.bottleDays days at @Model.fermentation.bottleTemp°F.</strong>
                    @if (Model.fermentation.bottleNote != null && Model.fermentation.bottleNote.Length > 0)
                    {
                        <ul>
                            <li>@Model.fermentation.bottleNote</li>
                        </ul>
                    }
                </li>
            }

            <li>Enjoy!</li>






        </ol>


    </div>

</div>




<div id="logFermenterGravityDialog"></div>
<div id="logFinalGravityDialog"></div>
<div id="logPreboilGravityDialog"></div>


