@model BrewingSite.Models.WholeBrewday

@{
    ViewBag.Title = "Brewday for " + @Model.brewday.recipeName;
}

<p class="h2">@Model.brewday.recipeName</p>
<p>@Model.brewday.authorName</p>
<p>@Model.recipeStyle.Style1</p>
<hr />

<div class="clearfix">
    <div class="float-left">
        <p class="h7">Fermentables</p>
        <table class="table">
            <tr>
                <th>Fermentable</th>
                <th>Amount</th>
            </tr>
            @foreach (var item in Model.fermentables)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.amount @item.unit</td>
                </tr>
            }
        </table>
    </div>
    <div class="float-right">
        <p class="h7">Mash Procedure</p>
        <table class="table">
            <tr>
                <th>Step Temperature</th>
                <th>Heating Method</th>
                <th>Rest Time</th>
            </tr>
            @foreach (var item in Model.mashEntries)
            {
                <tr>
                    <td>@item.temperature</td>
                    <td>@item.method</td>
                    <td>@item.time</td>
                </tr>
            }
        </table>
        <p><span class="bold">Sparge Method: </span>@Model.brewday.mashSpargeType</p>
        <p>List Equipment details here.</p>
    </div>
</div>

<div class="clearfix">
    <div class="float-left">
        <p class="h7">Hops</p>
        <table class="table">
            <tr>
                <th>Variety</th>
                <th>Amount</th>
                <th>Time</th>
            </tr>
            @foreach (var item in Model.hops)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.amount @item.unit</td>
                    <td>@item.additionTime</td>
                </tr>
            }
        </table>
    </div>
    <div class="float-right">
        <p class="h7">Yeast</p>
        <table class="table">
            <tr>
                <th>Strain</th>
                <th>Attenuation</th>
            </tr>
            @foreach(var item in Model.yeasts)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Attenuation</td>
                </tr>
            }
        </table>

    </div>
</div>

<div class="clearfix">
    <div class="float-left">


    </div>
    <div class="float-right">



    </div>
</div>


