@model BrewingSite.Models.UserDashboardCollection

@using System.Linq

@{
    ViewBag.Title = "User Dashboard";
}

<script type="text/javascript">

    function ShowError(errorText) {
        if (errorText != 'Success') {
            $('.error').text(errorText);
            $('.error').slideDown(500).delay(3000).slideUp(500);
        }
    }


    $(document).ready(function () {

        $('#newRecipe').on('click', function (event) {
            event.preventDefault();

            $("#NewRecipeForm").dialog({
                autoOpen: true,
                position: { my: "center", at: "top+350", of: window },
                width: 550,
                height: 400,
                resizable: false,
                title: 'New Recipe Details',
                modal: true,
                open: function () {
                    $(this).load('/Recipes/ShowNewRecipeDialog/');
                }
            });
            return false;
        });

        var errorMessage = "@Model.errorMessage";

        if(errorMessage != "")
        {
            ShowError(errorMessage);
        }
    });


</script>

<div>
    <h2>Welcome @User.Identity.Name!</h2>
    <p></p>
    <p></p>
    <hr />
</div>

<div class="clearfix">
    <div class="float-left">
        <span class="h2">My Recipes</span>
        <p></p>
        <div id="recipes">
            <table class="table">
                <tr>
                    <th>Recipe</th>
                    <th>Style</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.recipes)
                {
                    <tr>
                        <td>@item.name</td>
                        <td>@Model.styles[((int)item.styleId - 1)].Style1</td>
                        <td><a href="/Recipes/recipe/@item.id">Edit</a> | <a href="/Brewday/Create/@item.id" class="brewButton">Brew</a></td>
                    </tr>
                }
                <tr>
                    <td><a href="#" id="newRecipe">New Recipe</a></td>
                    <td></td>
                    <td></td>
                </tr>


            </table>
            
        </div>
        <div id="NewRecipeForm"></div>

    </div>
    
    <div class="float-right">
        <span class="h2">My Brewdays</span>
        <p></p>
        <div id="brewdays">
            <table class="table">
                <tr>
                    <th>Recipe Name</th>
                    <th>Brew Date</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.brewdays)
                {
                    <tr>
                        <td>@item.recipeName</td>
                        <td>@item.timestamp.Value.ToShortDateString()</td>
                        <td><a href="/Brewday/@item.id">View</a></td>
                    </tr>
                }
            </table>
        </div>
        <div id="AddBrewdayForm"></div>

    </div>
</div>
<hr />
<div class="clearfix">
    <span class="h2">Ongoing Fermentations</span>
    <div id="fermentationPipeline">
        <span>Coming Soon!</span>
    </div>
    <div id="AddFermentationForm"></div>
</div>
