<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    
    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ho.mebre.ws", "Index", "Home", new { area = "" }, new { @class = "navbar-brand accent-color" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Recipes", "Index", "Recipes")</li>
                    <li><a href="/Dashboard/">Dashboard</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="error">
            Error status
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        
    </div>
    <hr />
    <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - Ron Brogan</p>
        </footer>
    </div>

    


</body>
</html>
